* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: azure;
    color: #333333;
    height: 100%;
    display: flex;
    flex-direction: column;
}