header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    background-color: lightblue;
}

header div.logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header ul li {
    cursor: pointer;
    color: darkblue;
}