main {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

aside {
    background-color: rgba(207, 236, 173, 0.719);
    padding: 20px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
}
aside ul {
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    flex-grow: 1;
}

.container > div {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    min-height: 100px;
}