:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    padding: 24px;
    width: 800px;
    height: 1440px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

h1, h2 {
    color: #291B1A;
}