body {
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    padding: 24px;
    width: 800px;
    height: 1440px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}