:root {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px;
    min-height: 100vh;
}

section {
    background-color: white;
    padding: 24px;
}

#suica {
    border-bottom: #000000 1px solid;
}

main {
    max-width: 900px; 
    width: 100%;
    margin: 0 auto;
    padding: 55px;
    border-bottom: #000000 1px solid;
}

h2 {
    color: #026327;
    font-size: 12px;
    margin: 40px 0 2px 0;
    font-weight: 800;
    text-transform: uppercase;
}

#suica-natureza h2 {
    margin-top: 0;
}

h1 {
    color: #000000;
    font-size: 28px;
    margin: 1px 0 5px 0;
    font-weight: bold;
    margin-bottom: 2px;
}

#suica h1 {
    margin-bottom: 10px;
}

.pontos {
    padding: 0;
}

.pontos h1 {
    margin-top: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0 20px 0;
    max-width: 800px;
    text-align: justify;
}

img {
    max-width: 800px;
    height: auto;
    border-radius: 15px;
}
#bom-para {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 20px;
}

ul {
    margin-top: 2px;
    font-weight: bold;
}

#item1 {
    color: #026327;
}

#item2 {
    color: #ff0000;
}

footer {
    text-align: center;
    margin: 20px 0 40px 0;
    width: auto;
}

#footer {
    margin: auto auto 40px auto;
    align-items: center;
    font-size: 15px;
    color: #242323;
    width: 800px;
}

#footer-text {
    font-size: 16px;
    color: #000000;
}