body {
    font: 16px Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(180, 174, 174);
}

header {
    text-align: center;
    padding: 30px;
    background-color: blue;
    color: white;
}

.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}